body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.banner-area{
    position: absolute;
    text-align: center;
    font-size: 4.5rem;
}

.banner-area span{
    color: brown;
}

/*=== 5.9 Portfolio ===*/

  .portfolio{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    
  }

  .portfolio-image{
    position: relative;
    overflow: hidden;
    margin: 20px;
    max-height: 500px;
    object-fit: cover;
  }
  .portfolio-image img{
    transition: all 0.3s ease-in-out;
    object-fit: cover;
    object-position: center bottom;
      max-width: 100%;
  }

  .portfolio-image:hover img{
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }


  .portfolio-overlay{
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .portfolio-overlay:hover{
    opacity: 1;
  }


  
  .portfolio .portfolio-box .portfolio-img img {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .portfolio .portfolio-box:hover .portfolio-img img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  
  .portfolio .portfolio-box .portfolio-overlay-details {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .portfolio .portfolio-details {
    padding: 1.5rem 0;
    text-align: center;
  }
  
  .ajax-container {
    position: relative;
    background: #FFF;
    margin: 40px auto;
    max-width: 1170px;
    padding: 30px;
  }
  
  .mfp-close-btn-in .ajax-container.bg-dark .mfp-close, .mfp-close-btn-in .ajax-container.bg-dark-1 .mfp-close, .mfp-close-btn-in .ajax-container.bg-dark-2 .mfp-close, .mfp-close-btn-in .ajax-container.bg-dark-3 .mfp-close, .mfp-close-btn-in .ajax-container.bg-dark-4 .mfp-close {
    color: #fff;
    opacity: .65;
  }
  
  .mfp-close-btn-in .ajax-container.bg-dark-0 .mfp-close:hover, .mfp-close-btn-in .ajax-container.bg-dark-1 .mfp-close:hover, .mfp-close-btn-in .ajax-container.bg-dark-2 .mfp-close:hover, .mfp-close-btn-in .ajax-container.bg-dark-3 .mfp-close:hover, .mfp-close-btn-in .ajax-container.bg-dark-4 .mfp-close:hover {
    opacity: 1;
  }
  
  html[dir="rtl"] .mfp-content {
    text-align: right;
  }
  
  html[dir="rtl"] .mfp-close {
    left: 0px;
    right: auto;
  }